<p>Welcome, <%= current_user.username %></p>

<h3>Your Stories:</h3>

<% if @stories.length == 0 %>
  <p>You haven't uploaded anything yet.</p>
<% else %>
  <div class="list">
    <% @stories.each do |story| %>
      <a href="/story/<%= story.project_id%>"><%= story.title %> with <%= story.suggestions.length %> suggested edits.</a>
    <% end %>
  </div>
<% end %>
